[package]
name = "hacspec-p256"
version = "0.1.0"
authors = ["Franziskus Kiefer <franziskuskiefer@gmail.com>"]
edition = "2018"

[lib]
path = "src/p256.rs"

[dependencies]
hacspec-lib = { path = "../../lib" }
backtrace = "0.3"

[dev-dependencies]
serde_json = "1.0"
serde = {version = "=1.0.156", features = ["derive"]}
hacspec-dev = { path = "../../utils/dev" }
criterion = "0.4"
rand = "0.8"

[[bench]]
name = "benchmarks"
harness = false
