name: Build & Test

on: [push, pull_request, release]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build
        run: cargo build --verbose
      - name: Run library tests
        run: cargo test --verbose -p hacspec-lib
      - name: Test Provider
        run: cargo test --verbose -p rc-tests
      - name: Get hacspec function stats
        run: RUST_NIGHTLY=nightly-2022-07-04 ./lib/get_func_stats.sh
      - name: Build and test Hacspec compiler
        run: cargo clean && cargo build -p hacspec-lib && cd language && cargo test --verbose

  build_no_std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install no_std target
        run: rustup target add thumbv7em-none-eabi
      - name: Build no_std hacspec-lib
        run: cargo build --target thumbv7em-none-eabi -p hacspec-lib --no-default-features --features alloc -Zfeatures=all
