name: Deploy Docs

on:
  push:
    branches:
      - master

jobs:
  rustdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@master
      - uses: actions/checkout@master
      - name: Build docs
        run: |
          cargo doc --all-features
          touch target/doc/.nojekyll
          cat > target/doc/index.html <<EOF
          <!doctype html>
          <html><head>
            <meta http-equiv="refresh" content="0; URL='hacspec/index.html'" />
          </head></html>
          EOF
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: target/doc
